<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="2.5.2.830" />
  <package id="Autofac.Mvc3" version="2.5.2.830" />
  <package id="FluentValidation" version="3.2.0.0" />
  <package id="FluentValidation.MVC3" version="3.2.0.0" />
  <package id="log4net" version="1.2.11" />
</packages>